<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Modification du livre</h2>

    <form (ngSubmit)="updateLivre(livre)">
      <div class="form-group">
        <label for="titre">Titre</label>
        <input type="text" class="form-control" id="titre" [(ngModel)]="livre.titre"  name="titre">
      </div>
      <div class="form-group">
        <label for="auteur">Auteur</label>
        <input type="text" class="form-control" id="auteur" [(ngModel)]="livre.auteur"  name="auteur">
      </div>
      <div class="form-group">
        <label for="type">Type</label>
        <input type="text" class="form-control" id="type" [(ngModel)]="livre.type"  name="type">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="3" [(ngModel)]="livre.description"  name="description"></textarea>
      </div>
      <div class="form-group">
        <label for="editeur">Editeur</label>
        <input type="text" class="form-control" id="editeur" [(ngModel)]="livre.editeur"  name="editeur">
      </div>
      <div class="form-group">
        <label for="dateParution">Date</label>
        <input type="date" class="form-control" id="dateParution" [(ngModel)]="livre.dateParution"  name="dateParution">
      </div>
      <div class="form-group">
        <label for="prix">Prix</label>
        <input type="text" class="form-control" id="prix" [(ngModel)]="livre.prix"  name="prix">
      </div>
      <div class="form-group">
        <label for="disponibilite">Disponibilite</label>
        <input type="text" class="form-control" id="disponibilite" [(ngModel)]="livre.disponibilite"  name="disponibilite">
      </div>
      <div class="form-group">
        <img style="max-width: 300px" *ngIf="livre.photo" [src]="livre.photo">
        <input type="file" (change)="detectChangeFiles($event)" class="form-control" accept="image/*">
        <p class="text-success" *ngIf="fileUploaded">Fichier chargé!</p>
      </div>
      <input type="submit" value="Mettre à jour" class="btn btn-success">
    </form>



  </div>
</div>
